.layout {
  background: linear-gradient(yellow, green);
}

.login-page {
  width: 400px;
  border: 1px solid rgb(229, 226, 226);
  padding: 2rem;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.24);

  margin: auto;

  box-shadow: -5px 5px 15px 5px #dfdadaac;
}

.form {
  background: white;
  border-radius: 5px;
  padding: 1rem;
  min-height: 100px;
  box-shadow: -5px 5px 5px 5px rgba(218, 211, 207, 0.596);
}

.table {
  background: white;
  border-radius: 5px;
  margin-top: 2rem;
  padding: 1rem;
  min-height: 100px;
  box-shadow: -5px 5px 5px 5px rgba(218, 211, 207, 0.596);
}
